body {
    background-color: #ccffcc;

    font-family: Verdana, sans-serif;

}



h1 {
    color: #006699;
}



h2 {
    color: #006699;
}



p {
    color: #006699;
}


h3 {
    color: #006699;
}


ol {
    color: #006699;
}



ul {
    color: #006699;
}
